.about {

    font-size: 2vw;

    --about__lines: none;
    --link__color: #111;
    --link__underline: var(--green);
    
    background-color: #fff;
    color: #111;
    display: grid;
    position: relative;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    grid-template-areas:  
                            "title title title title"  
                            "main  main  main  main"  
                            "big   big   big   big"
                            "act   act   yrs   yrs"
                            "prt   prt   wrk   wrk"
                            "scl   scl   scl   scl"
                            "add   add   add   add"
                            "txt   txt   txt   txt";

    > div {
        box-sizing: border-box;
    }

    a {
        color: var(--link__color);
        text-decoration: none;
        display: inline-block;
        position: relative;
        z-index: 20;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 15px;
            left: 0;
            bottom: -2px;
            background-color: var(--link__underline);
            @include transit();
            z-index: -1;
        }
    }

    &__title {
        grid-area: title;
    }

    &__main {
        grid-area: main;
    }

    &__big {
        grid-area: big;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 40px; 
        position: relative;

        margin-bottom: 3em;
    }

    &__activity {
        grid-area: act;
    }

    &__years {
        grid-area: yrs;
    }

    &__portfolio {
        grid-area: prt;
    }

    &__works {
        grid-area: wrk;
    }

    &__skills {
        grid-area: scl;
    }

    &__os {
        grid-area: os;
    }

    &__add {
        grid-area: add;
    }

    &__text {
        grid-area: txt;
    }

    &__title {
        span {
            display: block;
            font-size: 3em;
            font-weight: bold;
        }

        br {
            display: none;
        }
        border-bottom: var(--about__lines);
    }

    &__big {
        span {
            display: block;
        }
    }

    &__years {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        
        p {
            text-align: center;
        }
        
        span {
            font-size: 2em;
            line-height: 1em;
            font-weight: bold;
        }

        i {
            font-style: italic;
            font-size: 1.5em;
        }
    }

    &__works {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0em;
        transform: translateY(-.75em);
        

        span {
            font-size: 3em;
            line-height: 1em;
            font-weight: bold;
            display: block;
        }

        i {
            font-style: italic;
            font-size: 1.5em;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        //height: 10rem;
        border-top: var(--about__lines); 
    }    

    font-size: .5em;

    &__descr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: left;
        border: none; 
        border-top: 0;
        background-color: var(--white);
        font-size: 3.5em;
        z-index: 5;
        line-height: 1.5em;
        padding: 2em 0 0 0;
    }

    &__item {
        box-sizing: border-box;
        border-right: var(--about__lines); 
        width: 50%;
        height: 55vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        padding: 6em 1em 3em 1em;
        font-weight: normal;
        font-style: italic;
        font-size: 3em;
        gap: 1em;
        position: relative;

        img {
            --icon-size: 5em;
            display: block;
            width: var(--icon-size);
            max-width: var(--icon-size);
            max-height: var(--icon-size);
            opacity: 1;
            //position: absolute;
            
        }


        &:last-child {
            border-right: 1px transparent solid;
        }
    }

    
}

.add {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .75em;
    line-height: 1.5em;

    border-right: var(--about__lines);

    &__descr {
        font-size:3em;
        font-weight: bold;
        margin: 1em 0;
        
    }

    &__items {
        list-style: square;
        font-style: italic;
    }
}

.text {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    line-height: 1.5em;
}

@media only screen and (min-width: 768px) {
    .about {
        font-size: 2vw;        

        --about__lines: 1px rgb(182, 205, 225) dotted;
        --link__color: #111;
        --link__underline: var(--green);

        a {
            

            

            &:hover {
                &::before {
                    height: 1em;
                }
            }
        }

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: "title main main main main main main main main main main main"
                             "big   big  big  big  big  big  big  big  big  big  big  big "
                             "act   act  act  act  yrs  yrs  prt  prt  prt  prt  wrk  wrk "
                             "scl   scl  scl  scl  scl  scl  scl  scl  scl  scl  scl  scl "
                             "add   add  add  add  add  add  txt  txt  txt  txt  txt  txt ";
                             

        &__title {
            height: 4em;
            border-right: var(--about__lines);
            display: flex;
            align-items: center;
            justify-content: center;

            br {
                display: block;
            }

            span {
                position: relative;
                display: inline-block;
                transform: rotate(-90deg);
                transform-origin: center;
                font-weight: bold;
                font-size: 1.5em;
                line-height: 1.0em;
            }
        }

        &__main {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.2em;

            p {
                position: relative;
                font-size: inherit;
            }
        }

        &__big {
            border-top: var(--about__lines);
            border-bottom: var(--about__lines);
            margin-bottom: 0;

            h2 {
                font-size: inherit;
                font-weight: bold;
            }

            span {
                display: block;
                position: relative;

                &:first-child {
                    font-size: 3.15em;
                    line-height: 1em;
                    padding-top: .25em;
                }
    
                &:last-child {
                    font-size: 3.75em;
                    line-height: 1em;
                    padding-bottom: .25em;
                }
            }
        }

        &__activity {
            border-right: var(--about__lines);
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            text-align: right;
            padding: 1.25em 1em;
            p {
                font-size: 1em;
                line-height: 1.5em;
                font-style: italic;

                b {
                    font-style: normal;
                }
            }
        }

        &__years {
            border-right: var(--about__lines);
            padding: 1em;
            
            span {
                font-size: 4em;
            }

            i {
                font-size: 2em;
            }
        }

        &__portfolio {
            border-right: var(--about__lines);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 1em;

            p {
                font-size: 1em;
                line-height: 1.5em;
                text-align: right;
                font-style: italic;

                a {
                    font-style: normal;
                    font-weight: bold;
                    
                    &::before {
                        bottom: .25em;
                    }
                }
            }
        }

        &__works {
            padding: 1em;            

            span {
                font-size: 2em;
            }

            i {
                font-size: 1em;
            }
        }

        .skills {
            &__item {
                flex: 1;
                height: 100%;
                font-size: 1.25em;
            }

            &__descr {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 50%;
                width: 50%;
                transform: translateX(-50%);
                height: 4em;
                text-align: center;
                border: var(--about__lines); 
                border-top: 0;
                background-color: var(--white);
                z-index: 5;
                line-height: 1.5em;
                font-size: 1em;
                padding: 0;
            }
        }

        .skills2 {
            border-bottom: var(--about__lines);
    
            .skills__descr {
                width: 60%;
            }
        }

        &__add {
            font-size: .5em;
        }
    
        &__text {
            font-size: .75em;
        }

        .text {
            padding: 2em;
            font-size: .5em;
        }

        .add {       
            &__descr {
                font-size: 1em;  
                margin: 0;        
            }
        }
    }
}

@media only screen and (min-width: 1900px) {
    .about {
        font-size: 38px;
    }
    
}

@import "skill-points";