.intro {
    min-height: 5rem;
    background-color: aliceblue;
    min-height: 800px;
    padding: 5rem 1rem 1rem 1rem;

    display: grid;

    gap: 1rem;
    grid-template-areas: "ph"
                         "ab"
                         "pt"
                         "ct"
                         "blg";
    

    &__photo {
        grid-area: ph;
        position: relative;
        overflow: hidden;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 50%;
        }
    }

    &__about {
        grid-area: ab;
        padding: 2rem;
        background-color: var(--green);
        color: var(--light-color);
        line-height: 1.5rem;
        position: relative;
        z-index: 2;

        a {
            color: #fff;

            &:hover {
                opacity: .75;
            }
        }
    }

    &__blog {
        grid-area: blg;
    }

    &__portfolio {
        grid-area: pt;
        position: relative;
        overflow: hidden;
    }

    &__contacts {
        grid-area: ct;
    }
}

.portfolio {
    position: relative;
    height: 100vw;

    &__tiles {            
        font-size: 2vw;
        height: 100%;
        position: relative;
        //border-radius: .5em; 
        //background: lighten($mainColor, 5%);
    }

    &__header {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        text-align: center;
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-height: 2rem;
        padding: .5rem 0;
        font-size: 1.333rem;
        line-height: 2rem;
        background-color: var(--white);
        //backdrop-filter: blur(.25rem);
        //border-bottom: 1px var(--dark-gray) dotted;
        box-shadow: $top-shadow;



        a {
            color: var(--green);

            &:hover {
                color: var(--yellow);
            }
        }
    }

    &__counter {
        display: block;
        position: absolute;
        right: 1rem;
        top: .75rem;
        font-size: .75rem;
        background-color: var(--green);
        line-height: .75rem;
        padding: .5rem .75rem;
        border-radius: 2rem;
        color: var(--white) !important;
        text-decoration: none;

        &:hover {
            background-color: var(--yellow);
        }
        
    }
}

.contacts {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    position: relative;
    color: var(--white);
    //color: var(--txt-color);

    --contact-borders: 1px var(--white-trans) dotted;
    //background-color: var(--txt-color);
    background-color: var(--dark);

    h3 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 2rem;
        padding: .5rem 0;
        font-size: 1.333rem;
        line-height: 2rem;
        margin: 0;
        
        box-shadow: 0rem 1px 1px rgba(30,60,30,.03), 0rem 1rem 1rem rgba(30,60,30,.05);
    }

    > div {
        
        border-bottom: var(--contact-borders);
        position: relative;
        box-sizing: border-box;

        

        &:last-child {
            border-bottom: 0;
        }

        &:nth-child(2n) {
            border-top: 0;
        }

        a {
            display: flex;
            color: var(--green);

            &:hover {
                color: var(--yellow);
            }
        }
    }

    &__icon {
        //font-size: 0;
        overflow: hidden;

        span {
            position: absolute;
            font-size: .75em;
            line-height: 1rem;
            bottom: -1rem;
            left: 0;
            width: 100%;
            display: block;
            @include transit();
            text-align: center;
            color: var(--white);
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: var(--white-trans);
            background-color: var(--white-trans);
            mask-size: 2rem 2rem;
            mask-repeat: no-repeat;
            mask-position: 50% 50%;
            @include transit();
        }

        &:hover {
            &::before {
                background-color: var(--green);
            }

            span {
                bottom: .5rem;
            }
        }
    }

    &__email {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        position: relative;
        gap: .5rem;
        padding: .5rem 1rem;
        width: 100%;

        border-top:  var(--contact-borders);

        a {
            &:last-child {
                font-size: .75rem;
            }
        }
    }

    &__tel {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: .5rem 1rem;
        width: 100%;
    }

    &__messengers, &__social {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;

        a {
            border-right:  var(--contact-borders);
            width: 25%;
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            &:last-child {
                border-right: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .intro {
        height: 1024px;
        grid-template-areas: "ph  ab  ab"
                             "ph  pt  pt"
                             "ct  pt  pt"
                             "blg blg blg";

        .portfolio {
            height: auto;
        }

        &__about {
            &::before {
                content: "";
                position: absolute;
                width: 2rem;
                height: 2rem;
                background-color: var(--green);
                left: -1rem;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                z-index: 1;
            }
        }

    }
}

@media (min-width: 1200px) {
    .intro {
        height: calc(100vh - 6rem);
        grid-template-areas: "ph ab ab blg"
                             "ph pt pt blg"
                             "ct pt pt blg";

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 4fr;
    }
}

@import "tiles";