.intro {
    min-height: 5rem;
    background-color: aliceblue;
    height: calc(100vh - 6rem);
    min-height: 800px;
    padding: 5rem 1rem 1rem 1rem;

    display: grid;

    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    
    grid-template-areas: "ph ab ab blg"
                         "ph pt pt blg"
                         "ct pt pt blg";

    &__photo {
        grid-area: ph;
    }

    &__about {
        grid-area: ab;
        padding: 2rem;
        background-color: var(--green);
        color: var(--light-color);
        line-height: 1.5rem;

        a {
            color: #fff;

            &:hover {
                opacity: .75;
            }
        }
    }

    &__blog {
        grid-area: blg;
    }

    &__portfolio {
        grid-area: pt;
        position: relative;
        overflow: hidden;
    }

    &__contacts {
        grid-area: ct;
    }
}

.contacts {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    position: relative;
    color: #fff;

    --contact-borders: 1px rgba(255,255,255,.5) dotted;
    background-color: #111;

    h3 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > div {
        
        border-bottom: var(--contact-borders);
        position: relative;
        box-sizing: border-box;

        &:last-child {
            border-bottom: 0;
        }

        a {
            display: flex;
            color: #fff;
        }
    }

    &__email {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        position: relative;
        gap: .5rem;
        padding: .5rem 1rem;
        width: 100%;

        border-top:  var(--contact-borders);

        a {
            &:last-child {
                font-size: .75rem;
            }
        }
    }

    &__tel {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: .5rem 1rem;
        width: 100%;
    }

    &__messengers, &__social {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;

        a {
            border-right:  var(--contact-borders);
            width: 25%;
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            &:last-child {
                border-right: none;
            }
        }
    }
}

@import "tiles";