.archive-content {
    .entry {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        &__image {
            flex: 1;
            position: relative;
            padding-top: 1rem;

            img {
                position: relative;
                max-width: 100%;
                height: auto;
                border-radius: .5rem;
            }
        }

        &__textfield {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        } 

        &__body {
            p {
                margin: 0;
            }
        }

        &__date {
            display: inline-block;
            background-color: var(--green);
            padding: .15rem .75rem;
            border-radius: 1rem;    
            color: var(--light-color);
            font-size: .7rem;
            margin-bottom: .5rem;
        }

        &__meta {
            margin-top: 1rem;
            font-size: .7rem;
            color: var(--gray);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: .5em 2em;

            a:link, a:visited {
                color: var(--green);
            }
        }
    }
}

@media (min-width: 768px) {
    .archive-content {
        .entry {
            flex-direction: row;
        }
    }
}

.tag-content {
    h1 {
        text-transform: capitalize;
    }
}