.sticky-header {
    @include transit();
    top: 0;

    display: flex;
    flex-direction: row;

    align-items: center;

    .menu {
        flex: 1;
    }

    .searchform {
        justify-self: flex-end;
        margin-right: 1rem;
    }
}

.is-hidden {
    top: -5rem;
}

.logo {
    height: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: var(--txt-color) !important;

    svg {
        position: relative;
        height: 2.5rem;
        box-sizing: border-box;  
        object-fit: cover;  
        width: 2.5rem;   
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 1.5rem;
        border: 1px var(--lbg-color) solid;
        right: 0;
        top: 1.25rem;
    }
}

.st0 {
    fill: #00A551;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: #FAAF40;
}

.st3 {
    fill: #231F20;
}

.st4 {
    fill: #09572F;
}

.st5 {
    fill: #006838;
}

@import "logo-animation";