@include mobile {
    .up-tablet {
        display: none;
    }
    .up-desktop {
        display: none;
    }
}
@include tablet {
    .up-desktop {
        display: none;
    }
}

@include desktop {
    .up-desktop {
        display: none;
    }    
}