$cols: 1,2,3,4,5,6,7,8,9,10,11,12; 
$rows: 1,2,3,4,5,6; 
$pad: $hem*2;
$breakpoint: 980px;

.grid {	
		@include css-grid(1,$pad,$pad); // Количество колонок сетки, зазор сетки, поля сетки, ширина для медиа-запроса (если 0 или пусто, запроса не будет).
}

.grid {	
		@include css-grid(6,$pad,$pad,980px); // Количество колонок сетки, зазор сетки, поля сетки, ширина для медиа-запроса (если 0 или пусто, запроса не будет).
}

.grid {	
		@include css-grid(6,$pad,$pad,1600px); // Количество колонок сетки, зазор сетки, поля сетки, ширина для медиа-запроса (если 0 или пусто, запроса не будет).
}

.grid2 {	
		@include css-grid(1,$pad,$pad); // Количество колонок сетки, зазор сетки, поля сетки, ширина для медиа-запроса (если 0 или пусто, запроса не будет).
}

.grid2 {	
		@include css-grid(4,$pad,$pad,980px); // Количество колонок сетки, зазор сетки, поля сетки, ширина для медиа-запроса (если 0 или пусто, запроса не будет).
}



.c { //Создает классы ячеек для колонок c1, c2, c3... с соответствущим номеру grid-column: span
	@include grid-cols($cols, $breakpoint); // Ширина медиа-запроса, массив необходимых колонок
}
.r { //Создает классы ячеек для рядов r1, r2, r3... с соответствущим номеру grid-row: span
	@include grid-rows($rows, $breakpoint); 
}

  