/* Pagination starts */

.navigator {
    text-align: center;
    margin: 0 0 3*$hem 0;
    position: relative;
    
    .page-numbers {
        box-sizing:  border-box;
        display: inline-block; 
        position: relative;
        line-height: 4*$hem;
        min-width: 4*$hem;
        
        background: color(bg);
        border: 2px color(bg) solid;
        @include border-radius($hem/2);     
    
    }

    .prev {
        display: inline-block;
        left: 0;
        position: absolute;
        width: 4*$hem;
        height: 4*$hem;        
        overflow: hidden;
    
    }

    .prev:before {
        content: "\2190";
        display: inline-block;
        clear:both;


    }

    .next:before {
        content: "\2192";
        display: inline-block;
        clear:both;

    }

    .next{
        display: inline-block;
        right: 0;
        position: absolute;
        width: 4*$hem;

        height: 4*$hem;

        
        
        overflow: hidden;
    
    }

    .current {
        color: color(txt);
        background: none;
        border: 2px color(bg) solid;
    }

}

/* Pagination  end */

/* Accordeon */

    .ask {color: color(nav, links) !important; cursor: pointer; border-bottom: 1px color(nav, links) dashed; display: inline;}
    .accordeon-item {padding: $hem 0;}

/* Accordeon end */

/* Meta tags */

.meta {
    clear: both;
    width: 100%;
    ul {
        display: inline-block;
        padding: 0 2*$hem 0 $hem;
        li {
            display: inline-block;
            line-height: 4* $hem; padding: 0 $hem;
            background: color(bg);
            @include border-radius($hem/2)
        }
    }    

}


/* Meta tags end */



/* ==========================================================================
   Print styles
   ========================================================================== */
   
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}