 .btn-ghost {	
       color: color(ghost) !important;
       background-color: transparent;
       border:1px color(ghost) solid;        
       &:hover {
        	background: color(ghost-hover);
       }
}