/* Forms */

    .forms input {
       margin: 0 auto; display: block;
    }

    input, textarea, select {
        line-height: $input-height;
        color: $input-text;
        padding: 0 math.div($input-height, 4);
        border: $input-borders;
        background-color: $input-bg;
        clear: both;
        width: 100%;
        box-sizing:  border-box;
        border-radius: $input-radius;
    }

    select {
        height: $input-height;
    }

    label {
        margin: $hem 0 0 0;
        width: 100%;
        clear: both;
    }

    textarea {
        height: $input-textarea-height;
        margin: 0 auto;
        display: block;
    }

    .count {
        width: $input-height !important;
        display: inline !important;
        margin: 0 math.div($input-height, 4) !important;
        text-align: center;
    }

    input[type="submit"] {
        margin: 0 !important;
        width: auto;
    }

    input[type="file"] {
        line-height: 1;
        padding:  $hem 0;
        background: none;
    }

    input[type="checkbox"], input[type="radio"] {
        display: inline-block;
        width: auto;
        clear: none;
    }

    .styled-select {
        position: relative;
        display: inline-block;
        width: $input-width;
        &::after {
            content: "\203A";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: $input-height;
            height: $input-height;
            background: $input-button-bg;
            color: $input-button-color;
            border-radius: $input-radius $input-radius 0 0;
            pointer-events: none;
            transform: rotate(90deg);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .wpcf7-list-item span {
        margin-right: 2 * $hem;
    }

    input[type="file"] {
        border: none;
    }

/* Forms end */