/* Menu */


nav{
	display:block;
}


.menu{
		display:none;

		li {
			display:block;
		}		
	
	}


a.mobile-menu{
	display:block;
	padding: 0 0 0 1rem;
	line-height: $menu-mobile-line-height;
}



@media (min-width: $menu-mobile-breakdown) {

	.menu {
		display: block !important;
		

				ul {
					

					display: none;			


				}

				li {
					display: inline-block;
					position: relative !important;
					z-index:100 !important;
				}

				

		}


	.mobile-menu {
		display: none !important;
	}


}
/* end of menu */