

$colors: (
  txt: #111,
  links: #319BDE,
	hover: #1D78AE,
	bg: #efefef,
	color4: #366,
	color5: #39a,
	lines: #ccc,
	light: #fff,
	gr: #1ab752,
    nav: (
    	BG1: #111,
		BG2: #fff,
		BG3: #efefef,
		HBG: #1ab752,
		links: #1ab752,
		hover: #fff,
		SubLinks: #797979
		
    ),
    subheader: #999,
    ghost: #fff,  // Ghost button color
    ghost-hover: rgba(255,255,255,0.3) // Ghost button bg hover color
    
);

$r: 5px; //defaul border radius

//Color vars

:root {
  --txt-color: #111;
  --lbg-color: #f0f8ff;
  --border-color: transparent;
  --light-color: #fff;
  --white: #fff;
  --green: #1cb853;
  --light-green: #aeebc4;
  --yellow: #faaf40;
  --dark-green: #09572f;
  --dark-green2: #006838;
  --dark-color: #000;
  --dark-gray: rgba(30,30,30,.3);
  --dark-trans: rgba(30,30,30,.5);
  --white-trans: rgba(255,255,255,.5);
}

//Inputs
$input-borders: 1px var(--border-color) solid;
$input-bg: var(--lbg-color);
$input-button-color: var(--light-color);
$input-text: var(--txt-color);
$input-radius: $r;
$input-height: 2rem;
$input-textarea-height: 5rem;
$input-button-bg: var(--green);
$input-width: 100%;

//Menu
$menu-bg: var(--light-color);
$menu-color: var(--green);
$menu-light-color: var(--light-color);
$menu-desktop-position: fixed;
$menu-desktop-submenu-width: 250px;
$menu-mobile-bg: var(--light-color);
$menu-mobile-color: var(--green);
$menu-mobile-align: left;
$menu-mobile-list-align: left;
$menu-mobile-list-color: var(--green);
$menu-mobile-list-width: 600;
$menu-mobile-line-height: 4rem;

$menu-links-hover-bg: var(--green);
$menu-links-color: var(--light-color);
$menu-links-border: none;

$menu-sublinks-color: var(--txt-color);
$menu-sublinks-bg: var(--white);
$menu-sublinks-border: 3px var(--dark-gray) solid;
$menu-sublinks-hover: var(--green);
$menu-sublinks-hover-bg: var(--white);
$menu-sublinks-hover-border: 3px var(--green) solid;

$menu-mobile-text-transform: none;
$menu-main-level-bg: var(--light-color);
$menu-submenu-bg: var(--lbg-color);

$menu-mobile-breakdown: 768px;

$top-shadow: 0rem 1px 1px rgba(30,60,30,.03), 0rem 1rem 1rem rgba(30,60,30,.05);

//Control points for flexbox
$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;


// Fontsize breakpoints settings 

$baseline: 1rem; // Font-size
$step: 1.333; // Breakpoint step
$line: 1.5; // Line height

$brakepoints: 0 14px, 980px 16px, 1600px 18px;

// Fontsize breakpoints settings end

$hem: math.div($baseline, 2);



/* http://prgssr.ru/development/estetichnyj-sass-chast-3-tipografika-i-vertikalnyj-ritm.html */
$base-font-size: 2*$hem;
$base-line-height: 1.5 * $base-font-size;

$type-settings: (
  -1: (
    font-size: 0.75rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 1rem,
    line-height: $base-line-height
  ),
  1: (
    font-size: 1.333rem,
    line-height: $base-line-height * 2
  ),
  2: (
    font-size: 1.778rem,
    line-height: $base-line-height * 2
  ),
  3: (
  	font-size: 2.369rem,
  	line-height: $base-line-height * 3
  	)
);

/* конец масштабирования */

$alerts: (

	active: #fff,
	success: #dff0d8,
	warning: #fcf8e3,
	danger: #f2dede,
	info: #d9edf7

	);


$btn-colors: (
    "green": #1cb853,
    "red": #D04C3F,
    "orange": #DB972B,
    "blue": #3670B7,
    "black": #111
    
);



$fs: 16px;
$fs1: $fs - 1px;

$aHem: $hem * -1;


//Список выводимых колонок по умолчанию
$cols: (1,2,3,4,5,6,7,8,9,10,11,12);

//Максимальное количество колонок по умолчанию
$max-col: 12;

//Дополнительные параметры сетки
$col-options: (
		
	);

//Адаптивная сетка, параметры по умолчанию
$adaptive-parameters: (

	box-sizing:  border-box,
	clear: none !important,
	display: block,
	float: left,
	line-height: 1.5em,
    min-height: 1px,
	position: relative,
	padding: $hem
    
);

//Мобильная сетка, параметры по умолчанию
$mobile-parameters: (
	
	box-sizing:  border-box,
	clear: both,
	display: block,
    float: none,
    line-height: 1.5em,
    min-height: 1px,   
    position: relative,
    padding: $hem,    
       
);

//Control points mixins

@mixin mobile {
  @media (max-width: #{$md-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

//Breakpoints for flexbox

@mixin xs {
  @media (max-width: #{$sm-width - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{sm-width}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{md-width}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{lg-width}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{xl-width}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{xxl-width}) {
    @content;
  }
}