@import "options";
@import "mixins";

/* base */
//@import "smacss/base/normalize";
@import "smacss/base/base";

/* layout */
@import "smacss/layout/layout";


/* modules */
@import "smacss/modules/menu";
@import "smacss/modules/pagination";
@import "smacss/modules/forms";
@import "smacss/modules/meta-tags";
@import "smacss/modules/accordeon";
@import "smacss/modules/print-styles";

@import "smacss/modules/plugins/featherlight.gallery.scss";
@import "smacss/modules/plugins/featherlight.scss";

/* states */
@import "smacss/states/helper-classes";
@import "smacss/states/fade-in-viewport";

/* theme */
$green: #1ab752;

body {
      scroll-behavior: smooth;
}

nav {
	border-bottom: 1px color(lines) solid;
	float: left;
	top: 0;
	height: 4rem;
}








.front {
  
  position: relative;
  display: grid;
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  grid-template-columns: 25vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "header about about sidebar"
    "header portfolio portfolio sidebar"
    "contacts portfolio portfolio sidebar"
    "contacts portfolio portfolio sidebar"
    "contacts portfolio portfolio sidebar";
    div {
    	min-width: 25vw;
    	box-sizing: border-box;
    }

}
.name {
  grid-area: header;
  background-image: url('../img/stock-photo-248125767.jpg');
  background-size: cover;
}
.about {
  grid-area: about;
  padding: 2rem; 
  background: $green;
  color: #fff;


}
.contacts {
	background: darken($green, 10%);
  	grid-area: contacts;
  
}
.portfolio {
  grid-area: portfolio;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  svg {
  	width: 1.5rem;
  	height: 1.5rem;
  	display: block;
  	fill: $green;
  	margin: 1rem 1rem;
  }
}
.blog {
  grid-area: sidebar;
  display: grid;
  min-height: 100%;
  background: #666;
  grid-template-colums: repeat(1, 1fr);
  svg {
  	width: 1.5rem;
  	height: 1.5rem;
  	display: block;
  	fill: $green;
  	margin: 1rem 1rem;
  }
}








.logo {
	float: left;
	display: block;
	font-weight: bold;

	margin-right: 1rem;
	&:after {
		content: "";
		border-right: 1px color(lines) solid;
		margin-left: 1.5rem;
	}
	img {
		height: 3rem;
		width: 3rem;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		line-height: 4rem;
		margin: .5rem .5rem .5rem 1rem;
	}
}

.all {
	
	min-height: 100vh;
	position: relative;

	
	.col3 {		
		position: relative;
		display: block;

		overflow: hidden;
		height: 100vh;
	}
	.col9 {
		position: relative;
		display: block;
		height: 100vh;
	}
}

.sidebar {	
	height: 100vh;
	padding: 5rem 0 0 0;
	
	display: block;
	position: relative;
	box-sizing: border-box;
	

}
.inbar {
	box-sizing: border-box;
	display: block;
	height: 100%;
	position: relative;
}

.nopad {
	padding: 0;
}

.entry {
	display: block;
	position: relative;
	height: 33.3333%;
	padding: 1rem 1rem 0 1rem;
	box-sizing: border-box;
	z-index: 10;
	&:after {
		content: "";
		display: block;
		width: 4rem;
		height: 4rem;
		border-top: 1px $green solid;
		border-left: 1px $green solid;
		position: absolute;
		top: .5rem;
		left: .5rem;
	}
	&:before {
		content: "";
		display: block;
		width: 3rem;
		height: 3rem;
		position: absolute;
		bottom: -.5rem;
		right: .5rem;
		z-index: 1;
		background-image: -webkit-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		background-image: -o-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		background-image: linear-gradient(to top right, transparent, transparent 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 52%, transparent 52%);
		background-size:10px 10px;	
	}
	&:last-child {
		padding-bottom: 1rem;
		&:before {
			bottom: .5rem;
		}
	}
	a {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		position: relative;
		display: block;
		z-index: 10;
		@include transit();
		&:hover {
			transform: scale(0.95);
		}
	}
}

.bgthumb {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	h3 {
		display: block;
		position: absolute;
		box-sizing: border-box;
		padding: .5rem 1rem;
		bottom: 0;
		width: 100%;
		margin: 0;
		color: #fff;
		text-decoration: underline;
		padding-top: 2rem;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	}
}
.date {
	display: block;
	position: absolute;
	padding: .05rem .5rem;
	//background: #666;
	top: 1rem;
	left: 1rem;
	font-size: .7rem;
	//background: rgba(255,255,255,.5);
	color: #fff;
}

.introtext {
	width: 60%;
	
	//margin-top: 5rem;
	position: absolute;
	right: 1rem;
	z-index: 2;
	
	top: -2rem;
	
	color: #fff;

	&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			transform: translate(1rem, 1rem);
			//background-color:#666;
		    background-image: -webkit-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		    background-image: -o-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		    background-image: linear-gradient(to top right, transparent, transparent 48%, rgba(255,255,255,1) 48%, rgba(255,255,3255,1) 52%, transparent 52%);
		    background-size:10px 10px;	
		    z-index: 1;		
	}
}

.introcont {
	background: #1ab752;
	padding: 1rem;
	position: relative;
	z-index: 20;
}

.introfield {
	//min-height: 100vh;
	width: 80%;
	margin: 0 auto;
	
	position: relative;
	//overflow: hidden;
	padding-top: 0rem;


}
.intro {
	display: block;
	position: relative;
	overflow: hidden;
	background-image: url('../img/artur-luczka-loAfOVk1eNc-unsplash.jpg');
	background-size: cover;
	min-height: 100vh;
}
.selfie {
	max-width: 90%;
	position: relative;
	z-index: 1;
	//top: 7rem;
	margin-top: 7rem;
	display: block;

	&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			transform: translate(-1rem, 1rem);
			//background-color:#666;
		    background-image: -webkit-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		    background-image: -o-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		    background-image: linear-gradient(to top right, transparent, transparent 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 52%, transparent 52%);
		    background-size:10px 10px;			
	}

	
	img {
		display: block;
		width: 100%;
		position: relative;
		//transform: translate(0, -50%);
		

	}
}

.introcontacts {
	position: relative;
	//top: 10rem;
	
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: block;
	width: 100%;
	overflow: visible;
	//border-bottom: 1px #fff solid;
	padding: 0rem;

}

.grid {
	padding: 0;
	position: relative;
	//border-top: .5rem solid $green;
	padding: 0rem;
	z-index: 1;
	a:link, a:visited {
		color: #fff;
	}
	
	//border-left: 1px #fff solid;
	//border-right: 1px #fff solid;
	
	&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			transform: translate(-1rem, 1rem);
			//background-color:#666;
		    background-image: -webkit-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		    background-image: -o-linear-gradient(bottom left, transparent, transparent 48%, rgba(30,30,30,.3) 48%, rgba(30,30,30,.3) 52%, transparent 52%);
		    background-image: linear-gradient(to top right, transparent, transparent 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 52%, transparent 52%);
		    background-size:10px 10px;			
	}


	grid-gap: 0.5rem;
	box-sizing: border-box;
	div {
		//border: 1px #fff solid;
		padding: .5rem;
		position: relative;
		z-index: 2;
		background: $green;
		color: #fff;
		//border-bottom: 1px solid #fff;
	    
	    //background: #fff;

	    &:nth-child(3) {
	      //border-left: none;
	    }
	    &:nth-child(-n+3) {
	      //border-top: none;
	    }
	    &:first-child,
	    &:nth-child(3n+1) {
	      //border-left: none;
	    }
	}
}

.sr2 {

	grid-column: 3 / span 4;
	grid-row: 1 / span 3;
	background: #fff !important;
	color: #000 !important;
	border-top: .5rem solid $green;
}

.grid2 {
	div {
		border-top: .5rem $green solid;
		box-shadow: .1rem .1rem 1rem rgba(30,30,30,.3);
		padding: 1rem 1rem 0 1rem;
		h3 {
			border-bottom: 1px color(lines) solid;
			color: $green;
		}
	}
} 

.sp2 {
	grid-row: span 2 / auto;
}

.searchform {
	margin: 1rem 1rem 0 1rem;
	form {
		display: inline-block;
		input {
			text-align: center;
			color: darken(color(lines), 10%);
			font-size: .8rem;
			line-height: 2rem;
			min-width: 12vw;
			&:focus {
				color: color(txt);
			};
		}
	}
	svg {
		width: 2rem;
		height: 2rem;
		fill: $green;
		display: inline-block;
		position: absolute;
		top: 1.6rem;
		left: -.5rem;
	}

}

.nav-icon {

	

}

.sticky-header {
	@include transit();
}

.is-hidden {
	//position: absolute;
	top: -5rem;
}

footer {
	overflow: hidden;
	
	margin-top: 2rem;
	h4 {
		color: $green;
		font-weight: bold;
		border-bottom: 1px color(lines) solid;
	}

}

.linedfooter {
	overflow: hidden;
		border-top: .5rem $green solid;
}

.cloud {
	a {
		display: inline-block;
		border: 1px #ccc solid;
		background: #efefef;
		padding: .1rem .5rem 0 .5rem;
		margin: 0 .25rem .25rem 0;
		text-decoration: none;
		&:hover {
			border: 1px $green solid;
			background: $green;
			color: #fff;
		};
	}
}

.copy {
	border-bottom: 1px $green solid;
	text-align: right;
	overflow: hidden;
}

#about {
	padding: 2rem 1rem;
	text-align: center;
}

.slab {
	color: $green;
}


