figure.size-full {
    max-width: var(--w-max) !important;
    width: calc(100vw - 3rem);
    position: relative;
    text-align: center;

    figcaption {
        font-style: italic;
        color: var(--white-trans);
    }
}

.wp-block-gallery {
    margin: 1rem 0;
    --gallery-block--gutter-size: 1rem;
}

@media (min-width: 768px) {
    article {
        > figure.size-full, > .wp-block-image figure.size-full {
            margin: 0 50% 2rem 50% !important;
            transform: translateX(-50%);
            max-width: 100vw;
        }
    }
    figure.size-full {   
        border-radius: .5rem;
        figcaption {
            width: var(--text-perc);
            max-width: var(--text-max);
            margin: 0 auto;
            padding: 1rem 1rem;
            box-sizing: border-box;
        }
    }
}