.bigheader {
    .header-blur {
        filter: blur(30px);

        img {
            transform: scale(1.1);
        }
    }

    .device {
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .devices {        

        .desktop {
            display: block;
            width: 320px !important;
            height: 500px !important;
            position: relative;
            z-index: 2;
            

            &::after {
                background-image: url("../img/work-dekstop.png");
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                top: 100px;
            }

            &__screen {
                position: absolute;
                display: block;
                background: #fff;
                opacity: 1;
                left: 40px;
                top: 110px;
                width: 245px;
                height: 160px;
                z-index: 2;
                border-radius: 2px;

            }
            
        }

        .tablet {
            display: flex;
            width: 320px !important;
            height: 500px !important;
            position: relative;
            z-index: 1;
            align-items: center;
            justify-content: center;

            &::after {
                background-image: url("../img/work-tablet.png");
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                background-position: 50% 20px;
            }

            &__screen {
                position: absolute;
                display: block;
                background: #fff;
                opacity: 1;
                left: 62px;
                top: 36px;
                width: 199px;
                height: 320px;
                z-index: 2;
                border-radius: 7px;

            }
            
        }

        .tel {
            display: flex !important;
            width: 320px !important;
            height: 500px !important;
            position: relative;
            z-index: 2;
            justify-content: center;
            align-items: center;

            &::after {
                background-image: url("../img/work-mobile.png");
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                background-position: 50% 0%;
                top: -100px;
            }

            &__screen {
                position: absolute;
                display: block;
                background: #fff;
                opacity: 1;
                width: 140px;
                height: 297px;
                z-index: 1;
                border-radius: 15px;
                transform: translate(-3px, -32px);
            }
            
        }
    }
}

.works-slider {
    height: 60vh;
}

@media (min-width: 768px) {
    .works-slider {
        height: 650px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: var(--lbg-color);
        }
    }

    .bigheader {
        .devices {        

            .desktop {
                width: 1024px !important;
                height: 500px !important;

                &::after {

                    top: 0;
                }
    
                &__screen {

                    left: 100px;
                    top: 25px;
                    width: 635px;
                    height: 395px;

                    border-radius: 2px;
    
                }
                
            }
    
            .tablet {

                width: 450px !important;
                height: 500px !important;

                left: -380px;
                top: -45px;

    
    
                &__screen {

                    left: 83px;
                    top: 21px;
                    width: 280px;
                    height: 450px;
                    z-index: 2;
                    border-radius: 10px;
    
                }
                
            }
    
            .tel {

                width: 300px !important;
                height: 500px !important;

                left: -580px;
                top: 0px;

                &__screen {
                    left: 33px;
                    bottom: 33px;
                    width: 139px;
                    height: 297px;
                    border-radius: 15px;
                }
                
            }
        }
    }
}