.bigheader {
    .header-blur {
        filter: blur(30px);

        img {
            transform: scale(1.1);
        }
    }

    .device {
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .devices {        

        &__desktop {
            display: block;
            width: 1024px !important;
            height: 500px !important;
            position: relative;

            &::after {
                background-image: url("../img/work-dekstop.png");
                width: 100%;
                height: 100%;
            }
        }
    }
}

.works-slider {
    height: 60vh;
}

@media (min-width: 768px) {
    .works-slider {
        height: 650px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: var(--lbg-color);
        }
    }
}