.bigheader__slider {
    position: absolute;
    height: 100%;
    width: 100%;

    .slider {
        position: relative;
        height: 100%;

        .slick-list {
            height: 100%;
        }

        .slick-track {
            height: 100%;
        }

        .slick-slide {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--light-color);
        }
    }
}